body {
    margin: 0;
    max-width: 800px;
    margin-left: calc(50vw - 400px);
}

h1, h2, h3 {
    text-align: center;
}

section {
    font-size: 0;
}

section iframe, section code {
    font-size: 16px;
    display: inline-block;
    border: 0;
}

section code {
    width: calc(100% - 300px);
}

section iframe {
    width: 300px;
    height: 300px;
}

@media all and (max-width: 840px) {
    body {
        margin: 20px;
        max-width: calc(100% - 40px);
    }

    section code {
        width: 100%;
    }
    section iframe {
        margin-left: calc(50vw - 170px);
    }
}

@media all and (max-width: 600px){
    section code {
        font-size: 12px !important;
    }
}